nav ul li:hover {
    background-color: #08d1fa;
}
html {
    scroll-behavior: smooth;
}
.banner {
    background-image: url(../assets/image/banner1.png);
    width: 100%;
    height: 90vh;
}
.banner .padding{
    padding-top: 10em;
}
.card {
    height: 380px;
    padding: 20px;
}